{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Login</title>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/app.js' %}" async defer></script>
{% endblock %}

{% block header %}
<header class="header--login-page">
{% endblock%}

{% block container %}


<section class="login-page">
  <h2>Zaloguj się</h2>
  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
      <input type="text" name="username" placeholder="Email" />
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Hasło" />
      <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
    </div>

    <div class="form-group form-group--buttons">
      <a href="{% url 'users:register' %}" class="btn btn--without-border">Załóż konto</a>      
      <button class="btn" type="submit">Zaloguj się</button> 
    </div>
  </form>
</section>



{% endblock %}
